.about{
	color: $lightcolor;
	padding: 20px;
	display: inline-block;
	background-image:url('../img/about/medusa.png');
	background-repeat: no-repeat;
	background-size: cover;
	.desc{
		padding: 60px 0;
		@media screen and (min-width: $desktop-small){
			width: 50%;
			float: right;
		}
		 h5{
			margin-top: 20px;
			@media screen and (min-width: $desktop-small){
				padding-left: 0;
				padding-right: 0;
				text-align: left;
			}
			 p{
				opacity: .5;
				font-size: 14px;
				color: $lightcolor;
				opacity: .5;
				letter-spacing: .3px;
				@media screen and (min-width: $desktop-small){
					line-height: 24px;
					margin: 0;
				}
			 }
		}
	}
}

