.about{
	color: $lightcolor;
	padding: 20px;
	.desc{
		padding: 60px 0;
		 h5{
			margin-top: 20px;
			margin-left: 35%;
			padding-left: 0;
			padding-right: 0;
			 p{
				opacity: .5;
				font-size: 14px;
				color: #ffffff;
				opacity: .5;
				letter-spacing: .3px;
				max-width: 540px;
				line-height: 24px;
			 }
		}
	}
}