footer{
	height: 60px;
	color: $lightcolor;
	text-align: center;
	a{
		position: relative;
		color: $lightcolor;
		cursor: pointer;
		top: 50%;
		transform: translateY(-50%);
		text-decoration: none;
	}
}