.masonry-gallery{
	color: $lightcolor;
	margin: 0;
	padding: 0;
	width: 100vw;
	.item:first-child{
		background-image: url('../img/gallery/temptation.jpg');
	}
	.item:nth-child(2){
		background-image: url('../img/gallery/white_snow.jpg');
	}
	.item:nth-child(3){
		background-image: url('../img/gallery/cyril_2.jpg');
	}
	.item:nth-child(4){
		background-image: url('../img/gallery/requin.jpg');
	}
	.item:nth-child(5){
		background-image: url('../img/gallery/brun.jpg');
	}
	.item:nth-child(6){
		background-image: url('../img/gallery/fumoir.jpg');
	}
	.item:nth-child(7){
		background-image: url('../img/gallery/cyril.jpg');
	}
	.item:nth-child(8){
		background-image: url('../img/gallery/eiffel.jpg');
	}
	.item:nth-child(9){
		background-image: url('../img/gallery/jo.jpg');
	}
	.masonry{
		margin-left: 1%;
	}
	.item{
		margin: 10px;
		@media screen and (min-width: $desktop-small){
			width: 31%;
		}
	}
}

