header{
	nav{
		width: 100%;
		ul{
			text-align: center;
			height: 50px;
			background-color: $darkcolor;
			margin: 0 auto;
		}
		li{
			display:inline-block;
		}
		a{
			padding: 15px;
			color: $lightcolor;
		}
	}
}
