.service{
	color: $lightcolor;
	padding-bottom: 20px;
	.card{
		width: 100%;
		text-align: center;
		margin: 1%;
		margin-left: 2%;
		padding: 20px;
		display: inline-block;
		padding-left: 2%;
		background-color: rgba(255,255,255,0.06);
		@media screen and (min-width: $desktop-small){
			width: 30%;
<<<<<<< Updated upstream
		
=======
			display: inline-block;
			margin: 20px;
>>>>>>> Stashed changes
		}
	}
	h2{
		padding-bottom: 20px;
	}
	h3{
		margin-top: 20px;
	}
	p{
		margin: 20px 0;
		font-family: $font2;
	}
}