.masonry {
	padding: 20px;
	column-count: 1;
	margin-left: 2%;
	margin-right: 2%;
	width: 100%;
	@media screen and (max-width: $desktop-small){
		margin: 0;
	}
}


.item {
	width: 30%;
	display: inline-block;
	background-size: cover;
	min-height: 200px;
	box-sizing: border-box;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 15%;
	padding-right: 15%;
	background-position: center;
	@media screen and (max-width: $desktop-small){
		width: auto;
		min-height: 400px;
		display: block;
	}
	@media screen and (min-width: $desktop-medium){
		width: 30%;
		height: auto;
		display: inline-block;
	}
	
}
.masonry-team{
	color: $lightcolor;
	p{
		font-family: $font2;
		margin-top: 20px;
		text-align: center;
	}
	.item:first-child{
		background-image: url('../img/team/romain.jpg');
	}
	.item:nth-child(2){
		background-image: url('../img/team/cyril.jpg');
	}
	.item:nth-child(3){
		background-image: url('../img/team/sacha.jpg');
	}
	.item:nth-child(4){
		background-image: url('../img/team/demoiselle.jpg');
	}
}