.masonry {
	padding: 20px;
	column-count: 1;
	// @media screen and (min-width: $desktop-small){
	// 	margin-left: 2%;
	// 	margin-right: 2%;
	// }
	width: 100%;
}


.item {
	width: 100%;
	display: inline-block;
	background-size: cover;
	min-height: 200px;
	box-sizing: border-box;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 15%;
	padding-right: 15%;
	@media screen and (min-width: $desktop-small){
		width: 30%;
	}
	
}
.masonry-team{
	color: $lightcolor;
	p{
		font-family: $font2;
		margin-top: 20px;
		text-align: center;
	}
	.item:first-child{
		background-image: url('../img/team/romain.jpg');
	}
	.item:nth-child(2){
		background-image: url('../img/team/cyril.jpg');
	}
	.item:nth-child(3){
		background-image: url('../img/team/sacha.jpg');
	}
}